*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ecbcff;
  }

  *,
  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
a{
    display: grid;
    height: 80px;
    width: 250px;
    background: linear-gradient(
      #b073ff,
      #b073ff
    );
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    place-items: center;
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 50px;
  }

  input[type="date"]{
    background-color: #b073ff;
    padding: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 50%;
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 30px;
}
::-webkit-calendar-picker-indicator{
    background-color: #b073ff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}